.portfolio{
    background-color: #e6e6e6;
    p{
        font-size: 22px;
        font-style: italic;
    }
    h3{
        font-size: 22px;
    }
    span{
        font-family: "Karla", Sans-serif;
    }
}