<div class="portfolio py-5" id="portfolio">
  <div class="container text-center">
    <h5>PORTFOLIO</h5>
    <h1 class="pb-3 title-color">
      <i class="bi bi-quote"></i>
    </h1>

    <div id="myPortfolio" class="carousel slide px-4" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p class="text-secondary">
            Our wedding day was made unforgettable by Video Boys. 
            The photographers were professional and made us feel comfortable in front of the camera.
            Their flawless photography, beautifully edited videos, and live relay studio surpassed our expectations. 
            Highly recommended!
          </p>
          <h4 class="fw-600">Customer Name</h4>
          <span class="text-secondary">Wedding</span>
        </div>

        <div class="carousel-item">
          <p class="text-secondary">
            Video Boys provided exceptional photography and videography services for our corporate event. 
            They captured our brand essence and engaged our attendees perfectly. 
            The live relay studio was a game-changer, enabling attendees to feel like they were right there with us.
            Highly professional!
          </p>
          <h4 class="fw-600">Company Name</h4>
          <span class="text-secondary">Corporate</span>
        </div>

        <div class="carousel-item">
          <p class="text-secondary">
            We were thrilled with the services provided by Video Boys for our school event.
            Video Boys captured the joy and excitement of our school event through amazing photography and videography. 
            The live relay studio allowed remote attendees to join in. 
            Friendly and highly recommended!
          </p>
          <h4 class="fw-600">School Name</h4>
          <span class="text-secondary">School</span>
        </div>
      </div>

      <div class="carousel-indicators rounded-icons">
        <button type="button" data-bs-target="#myPortfolio" data-bs-slide-to="0" aria-label="Slide 1" class="active"></button>
        <button type="button" data-bs-target="#myPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    </div>
  </div>
</div>