<div class="portfolio py-5" id="portfolio">
    <div class="container text-center">
        <h5>PORTFOLIO</h5>
        <h1 class="content-heading pb-3 title-color">Customer Says</h1>

        <div id="carouselExampleIndicators" class="carousel slide px-4" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div> -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua ut enimad minim veniam quis nostrud 
                    exerci tation ullamco</p>
                <h3 class="content-h3">Isabel Tillman</h3>
                <span class="text-secondary">Visitor</span>
              </div>
              <div class="carousel-item">
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua ut enimad minim veniam quis nostrud 
                    exerci tation ullamco</p>
                <h3 class="content-h3">Isabel Tillman</h3>
                <span class="text-secondary">Visitor</span>
              </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="visually-hidden">Next</span>
            </button> -->
        </div>
    </div>
</div>