<div class="team py-4" id="team">
    <div class="container text-center">
        <h6 class="title-color">OUR TEAM</h6>
        <h1 class="fw-600 pb-3">Expert Members</h1>

        <div class="box row">
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="content">
                        <img src="assets/images/team-3.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h4 class="fw-600 card-title">
                            K.V.Ganeshan
                        </h4>
                        <p class="card-text text-secondary">
                            Founder
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="content">
                        <img src="assets/images/team-1.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h4 class="fw-600 card-title">
                            Prakash K
                        </h4>
                        <p class="card-text text-secondary">
                            Designation
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="content">
                        <img src="assets/images/team-2.jpg" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h4 class="fw-600 card-title">
                            Sangeetha
                        </h4>
                        <p class="card-text text-secondary">
                            Designation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>