<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators rounded-icons">
      <button type="button" *ngFor="let x of carousel" data-bs-target="#myCarousel" 
      [attr.data-bs-slide-to]="x.slide" class="{{x.active}}"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item {{x.active}}" *ngFor="let x of carousel">
        <img src="{{x.path}}" class="d-block w-100" alt="{{x.alt}}">
        <div class="carousel-caption animate-caption d-block {{x.class}}">
          <span class="title-color">{{x.title}}</span>
          <h1>{{x.text}}</h1>
          <a type="button" class="btn" href="{{x.link}}">{{x.button}}</a>
        </div>
      </div>
    </div>

    <div class="side-button">
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="icon" aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="icon" aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
      </button>
    </div>
</div>
