@import '../../mixins/colors.scss';

.carousel-caption{
    
    span{
        font-family: $font-family-2;
        font-size: 12px;
        font-weight: 500;
    }
    a{
        background-color: transparent;
        color: $background-color;
        font-size: 11px;
        border: 1px solid $background-color;
        padding: 8px;
        text-decoration: none;
    }
    a:hover{
        background-color: $font-color;
        border-color: $font-color;
    }
}

.icon{
    text-align: center !important;
    background-color: $font-color;
    padding: 6px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    i{
        font-size: 20px;
        color: $background-color;
    }
    .bi-chevron-left{
        margin-right: 4px;
    }
    .bi-chevron-right{
        margin-left: 4px;
    }
}

.rounded-icons button {
    background-color: transparent;
    border: none;
    width: 14px;
    height: 14px;
    margin: 0 3px;
}
.rounded-icons button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $font-color;
}
.rounded-icons button:hover::before{
    background-color: $font-color;
}
.rounded-icons button.active::before {
    background-color: $font-color;
}

@media screen and (min-width:992px) {
    .rounded-icons{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .side-button{
        display: none;
    }
}

@media screen and (min-width: 540px) {  
    .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        a{
            margin-top: 20px;
        }
    }    
}

@media (min-width: 0px) and (max-width: 539px) {
    img{
        max-height: 300px;
        min-height: 300px;
    }
}

@media (min-width: 540px) and (max-width: 911px) {
    img{
        max-height: 400px;
        min-height: 400px;
    }
}

@media (min-width: 912px) {
    img{
        max-height: 600px;
        min-height: 600px;
    }
}