@import '../../mixins/colors.scss';

footer{
    background-color: #333;
    background-image: url(../../../assets/images/footer-img.jpg);
    background-position: 52% 58%;
    color: white;
    h3{
        color: $font-color;
    }
    ul{
        li{
            padding-top: 10px;
            a{
                color: white;
            }
            a:hover{
                color: $font-color;
            }
        }
    }
    p{
        margin-bottom: 0;
        padding: 10px 0;
    }
    .logo{
        width: 200px;
    }
    .content{
        padding: 10px 0;
    }
}

@media screen and (min-width: 768px){
    .box{
        display: flex;
        justify-content: space-between;
        .content{
            padding: 0;
        }
    }
    .bottom-container{
        display: flex;
        justify-content: flex-end;
    }
}