<footer class="site-footer">
    <div class="container py-3">
        <div class="box py-lg-5">
            <div class="content">
                <div class="logo">
                    <img src="../../../assets/images/VB-2.png" width="100%" routerLink="">
                </div>

                <p>40, Sir Shanmugam Road,<br>R.S.Puram, Coimbatore-641002</p>

                <ul>
                    <li>
                        <a href="tel: 99444 84128">99444 84128</a>
                    </li>

                    <li>
                        <a tel="tel: 99444 84128">99444 87861</a>
                    </li>

                    <li>
                        <a href="mailto: videoboys1985@gmail.com">videoboys1985@gmail.com</a>
                    </li>
                </ul>
            </div>

            <div class="content">
                <h3 class="widget-title">Menu</h3>

                <ul>
                    <li><a href="#contact">Contact Us</a></li>

                    <li><a href="#about">About Us</a></li>

                    <li><a href="#portfolio">Portfolio</a></li>

                    <li><a href="#services">Services</a></li>

                    <li><a href="/gallery">Gallery</a></li>

                    <li><a href="#team">Our Team</a></li>
                </ul>
            </div>
            
            <div class="content">
                <h3 class="widget-title">Open Hours</h3>

                <span>Daily: 9.00 AM–6.00 PM<br> Sunday &amp; Holidays: Closed</span>
            </div>
        </div>

        <hr>

        <div class="bottom-container">
            <p>© Copyright 2023 Video Boys. All Rights Reserved</p>
        </div>
    </div>
</footer>