@import '../../mixins/colors.scss';

footer{
    background-color: $header-color;
    background-image: url(../../../assets/images/footer-img.jpg);
    background-position: 52% 58%;
    color: #cccccc;
    font-family: $font-family-2;
    h3{
        color: $font-color;
    }
    ul{
        li{
            padding-top: 5px;
            a{
                color: #cccccc;
            }
            a:hover{
                color: $font-color;
            }
        }
    }
    p{
        margin-bottom: 0;
        padding: 10px 0;
    }
    .logo{
        width: 200px;
    }
    .section{
        padding: 10px 0;
    }
    .dev{
        color: $background-color;
        text-decoration: none;
    }
    .dev:hover{
        color: $font-color;
    }
}

