@import '../../mixins/colors.scss';

.services{
    background-color: $background-color-2;
    .box{
        .card{
            background-color: $background-color;
            img{
                width: 100px;
                height: 100px;
                margin-top: 20px;
            }
            .text{
                height: 40%;
            }
        }
        p{
            font-family: $font-family-2;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card{
        height: 20rem;
    }
}