<div class="services py-4" id="services">
    <div class="container text-center">
        <h6 class="title-color">OUR SERVICES</h6>
        <h1 class="content-heading pb-3">We Provide</h1>
        
        <section class="box row">
            <div class="col-md-4 mb-2" *ngFor="let x of services">
                <div class="card">
                    <div class="text-center">
                        <img class="img-fluid" src="{{x.image}}" width="100%">
                    </div>
                    <div class="card-body">
                        <div class="text">
                            <h4 class="content-h3 card-title">{{x.title}}</h4>
                        </div>
                        
                        <div class="text">
                            <p class="card-text text-secondary">{{x.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>