@import '../../mixins/colors.scss';

.site-header{
    background-color: $header-color;
    .logo{
        width: 200px;
    }
    .nav-link{
        color: $background-color;
    }
    .nav-link:hover{
        color: $font-color;
    }
}
.container{
    display: flex;
    justify-content: space-between;
}