<div class="about pt-3" id="about">
    <h1 class="content-heading text-center py-4 title-color">About Us</h1>

    <div class="container">
        <div class="box d-lg-flex align-items-center">
            <div class="content col-lg-6">
                <img src="../../../assets/images/vb-about.jpg" width="100%">
            </div>
            <div class="content col-lg-6 p-4">
                <h1>History Of</h1>
                <h1 class="content-heading title-color">VIDEO BOYS</h1>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 making over 2000 years old. 
                    Richard McClintock, Latin professor Hampden-Sydney College in Virginia.
                </p>
            </div>
        </div>
    </div>

    <div class="container design">
        <img src="../../../assets/images/Brand-1.png" class="img-1">
        <img src="../../../assets/images/Brand-2.png" class="img-2">
        <img src="../../../assets/images/Brand-3.png" class="img-3">
        <img src="../../../assets/images/Brand-4.png" class="img-4">
        <img src="../../../assets/images/Brand-5.png" class="img-5">
        <img src="../../../assets/images/Brand-6.png" class="img-6">
    </div>

    <div class="container-fluid bg-dark g-0">
        <div class="box d-lg-flex align-items-center">
            <div class="content col-lg-6 p-5">
                <span class="title-color mb-3">FUN FACTS</span>
                <h2 class="mt-2">A modern Creative Agency
                    For Your Needs.
                </h2>
                <p>
                    Don’t bore your visitors whit generic photography website. 
                    We also do photo productions. It means I specialize in people and business photography​.
                    We build successful, lasting profitable products. Reimagining brand model approaches.
                </p>

                <div class="d-flex text-center justify-content-around pt-3">
                    <div class="item">
                        <h3 class="content-heading title-color">245</h3>
                        <span>1080p And
                            <br>4K Videos</span>
                    </div>
                    <div class="item">
                        <h3 class="content-heading title-color">07</h3>
                        <span>Team Flight
                            <br>Hours</span>
                    </div>
                    <div class="item">
                        <h3 class="content-heading title-color">50</h3>
                        <span>States
                            <br>Serviced</span>
                    </div>
                </div>
            </div>
            <div class="content col-lg-6">
                <img src="../../../assets/images/vb-about-cms.jpg" width="100%">
            </div>
        </div>
    </div>
</div>