<div class="about pt-4" id="about">
    <div class="text-center">
        <h6 class="title-color">DO YOU KNOW</h6>
        <h1 class="fw-600 pb-4">About Us</h1>
    </div>

    <div class="container">
        <div class="box d-lg-flex align-items-center">
            <div class="content col-lg-6">
                <img src="../../../assets/images/vb-about.jpg" width="100%">
            </div>
            <div class="content col-lg-6 p-4">
                <h1>History Of</h1>
                <h1 class="fw-600 title-color">VIDEO BOYS</h1>
                <p class="text-secondary">
                    Since its establishment in 1985 by K.V. Ganeshan, Video Boys has become a trusted name in photography and videography. Today, Prakash and Sangeetha, family members of the founder, proudly carry on the legacy.

With a skilled team of photographers and videographers, Video Boys has honed their craft, specializing in weddings, corporate events, and school functions. Their dedication to excellence and cutting-edge technology sets them apart.

Combining creativity and professionalism, Video Boys captures the essence of every occasion, delivering captivating visuals and unforgettable memories.

Trust Video Boys for your next event and witness their expertise in capturing life's precious moments with artistic flair.
                </p>
            </div>
        </div>
    </div>

    <div class="container design">
        <img src="../../../assets/images/Brand-1.png" class="img-1">
        <img src="../../../assets/images/Brand-2.png" class="img-2">
        <img src="../../../assets/images/Brand-3.png" class="img-3">
        <img src="../../../assets/images/Brand-4.png" class="img-4">
        <img src="../../../assets/images/Brand-5.png" class="img-5">
        <img src="../../../assets/images/Brand-6.png" class="img-6">
    </div>

    <div class="container-fluid g-0">
        <div class="box d-lg-flex align-items-center">
            <div class="content col-lg-6 p-5">
                <span class="title-color mb-3">FUN FACTS</span>
                <h2 class="mt-2">A modern Creative Agency
                    For Your Needs.
                </h2>
                <p>
                    Video Boys is a cutting-edge creative agency that caters to all your visual needs. 
                    With a team of talented photographers, videographers, and a state-of-the-art live relay studio, they bring innovation and excellence to every project. 
                    From weddings to corporate events and school functions, Video Boys delivers flawless photography, beautifully edited videos, and an immersive live experience. 
                    Trust Video Boys to capture your special moments and bring your vision to life with their modern approach and unparalleled creativity.
                </p>

                <div class="d-flex text-center justify-content-around pt-3">
                    <div class="item">
                        <h3 class="count title-color">245</h3>
                        <span>1080p And
                            <br>4K Videos</span>
                    </div>
                    <div class="item">
                        <h3 class="count title-color">07</h3>
                        <span>Team Flight
                            <br>Hours</span>
                    </div>
                    <div class="item">
                        <h3 class="count title-color">50</h3>
                        <span>States
                            <br>Serviced</span>
                    </div>
                </div>
            </div>
            <div class="content col-lg-6">
                <img src="../../../assets/images/vb-about-cms.jpg" width="100%">
            </div>
        </div>
    </div>
</div>

<app-team *ngIf="showTeam"></app-team>