@import '../../mixins/colors.scss';

.container-fluid{
    color: $background-color;
    background-color: $header-color;
}

.design{
    height: 200px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 70px 0;
}

.count{
    font-size: 40px;
    font-weight: 900;
}

.custom-justify {
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (max-width: 768px) {
    .design{
        padding: 40px 0 60px 0;
        justify-content: space-evenly;
        .img-3{
            display: none;
        }
        .img-4{
            display: none;
        }
        .img-5{
            display: none;
        }
        .img-6{
            display: none;
        }
    }
}
@media screen and (max-width: 992px) {
    .design{
        padding: 40px 0 60px 0;
        justify-content: space-evenly;
        
        .img-5{
            display: none;
        }
        .img-6{
            display: none;
        }
    }
}