@import '../../mixins/colors.scss';

.container-fluid{
    color: $background-color;
    background-color: $header-color;
}

p, span{
    font-family: $font-family-2;
}

.design{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    img{
        width: 135px;
        height: 75px;
    }
}

.count{
    font-size: 40px;
    font-weight: 900;
}

.custom-justify {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 768px) {
    .design {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: thin;
        img {
            flex: 0 0 auto;
        }
    }

    .design::-webkit-scrollbar {
        display: none;
    }

    
}
