<div class="gallery py-4 my-2">
    <div class="container text-center">
        <h6 class="title-color">OUR GALLERY</h6>
        <h1 class="fw-600 pb-3">Recent Captures</h1>

        <ul class="d-md-flex justify-content-center">
            <li (click)="filterImages('Wedding')">
                <a [class.active]="isActiveCategory('Wedding')">Wedding</a>
            </li>

            <li (click)="filterImages('Babyshower')">
                <a [class.active]="isActiveCategory('Babyshower')">Baby Shower</a>
            </li>

            <li (click)="filterImages('Pre-wedding')">
                <a [class.active]="isActiveCategory('Pre-wedding')">Pre Wedding</a>
            </li>

            <li (click)="filterImages('Birthday')">
                <a [class.active]="isActiveCategory('Birthday')">Birthday</a>
            </li>

            <li (click)="filterImages('Others')">
                <a [class.active]="isActiveCategory('Others')">Others</a>
            </li>
        </ul>

        <hr>

        <div class="row justify-content-center box px-3 px-md-0">
            <div class="content" *ngFor="let image of getFilteredImages()">
                <a href="{{image.path}}">
                <img [src]="image.path" [alt]="image.alt" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>