@import "../../mixins/colors.scss";

ul {
  li {
    padding: 10px 20px;
    a {
      font-family: $font-family-2;
      cursor: pointer;
      font-weight: 500;
      color: $header-color;
    }
    a.active {
      color: $font-color;
    }
    a:hover {
      color: $font-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .box{
    .content{
      padding: 0px;
      margin: 10px;
      flex: 0 0 auto;
      width: 30%;
    }
  }
}

@media screen and (max-width: 767px) {
  .box{
    .content{
      padding: 0px;
      margin: 10px;
      flex: 0 0 auto;
      width: 41%;
    }
  }
}
