@import '../src/app/mixins/colors.scss';

* {
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    background-color: $background-color;
    color: $global-font-color;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 0 auto;
    .fw-600{
        font-weight: 600;
    }
    .title-color{
        color: $font-color;
    }

    .content{
        overflow: hidden;
    }
    .content img {
        width: 100%;
        transition: 0.5s all ease-in-out;
    }
    .content:hover img {
        transform: scale(1.1);
    }

    ul{
        padding: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
}

