$font-family: 'Playfair Display', serif;
$font-family-2: 'Karla', sans-serif;

$global-font-color: black;
$font-color: #f97202;
$background-color: white;
$background-color-2: #e6e6e6;
$header-color: #222222;